---
layout: default
---

<div class="p-8">
    <h1 class="mb-8">Components Setup</h1>
    <div class="flex space-x-4 w-full">
        <div class="w-1/2">
            <div class="component-container">
                <div class="pb-4">
                    <h4 class="mb-2">Tailwind Config</h4>
                    The tailwind config should be included in the <code class="font-mono bg-pink-100 rounded-lg px-1 text-pink-500 whitespace-nowrap">&lt;head&gt;</code> of your website. The Tailwind Play CDN is included here as well because needs to be included before the config. Nothing needs to be edited since the colors are defined as variables in the CSS, which is where you will input your own hex color values.
                </div>
                <div class="component hidden">{% include tailwind-config.html %}</div>
                <pre class="component-code bg-neutral-700 !block overflow-x-auto text-neutral-200 px-6 py-4 rounded my-2 w-full max-h-72"></pre>
                <div class="flex justify-end space-x-2">
                    <button class="copy-code htk-btn htk-btn-secondary htk-btn-sm">Copy Code</button>
                </div>
            </div>

            <div class="component-container">
                <div class="pb-4">
                    <h4 class="mb-2">Styles</h4>
                    These styles should be included in the <code class="font-mono bg-pink-100 rounded-lg px-1 text-pink-500 whitespace-nowrap">&lt;head&gt;</code> as well <strong>after the tailwind config</strong>. As mentioned, the color variables <code class="font-mono bg-pink-100 rounded-lg px-1 text-pink-500 whitespace-nowrap">--primary</code>, <code class="font-mono bg-pink-100 rounded-lg px-1 text-pink-500 whitespace-nowrap">--secondary</code> and <code class="font-mono bg-pink-100 rounded-lg px-1 text-pink-500 whitespace-nowrap">--accent</code> are defined here. Input your own colors and your theming work is done.
                </div>
                <div class="component hidden">{% include tailwind-styles.html %}</div>
                <pre class="component-code bg-neutral-700 !block overflow-x-auto text-neutral-200 px-6 py-4 rounded my-2 w-full max-h-72"></pre>
                <div class="flex justify-end space-x-2">
                    <button class="copy-code htk-btn htk-btn-secondary htk-btn-sm">Copy Code</button>
                </div>
            </div>

            <div class="component-container">
                <div class="pb-4">
                    <h4 class="mb-2">Automatic Color Generation</h4>
                    This script does a bunch of magic that takes the hex values you input into the css color variables, converts them to HSL (hue, saturation, lightness) colors and automatically calculates legible content colors, hover states, etc. It should be included before the closing <code class="font-mono bg-pink-100 rounded-lg px-1 text-pink-500 whitespace-nowrap">&lt;/body&gt;</code> tag of your website. It shouldn't be needed, but if there is any strange color loading behavior you can defer the script like so: <code class="font-mono bg-pink-100 rounded-lg px-1 text-pink-500 whitespace-nowrap">&lt;script type="text/javascript" defer&gt;</code>
                </div>
                <div class="component hidden">{% include colorgen-script.html %}</div>
                <pre class="component-code bg-neutral-700 !block overflow-x-auto text-neutral-200 px-6 py-4 rounded my-2 w-full max-h-72"></pre>
                <div class="flex justify-end space-x-2">
                    <button class="copy-code htk-btn htk-btn-secondary htk-btn-sm">Copy Code</button>
                </div>
            </div>
        </div>
        <div class="">
            Preview of components with theme colors applied will go here.
        </div>
    </div>
</div>


<!-- Components List -->
<div class="flex">
    <nav class="p-8 w-1/5">
        <h4 class="mb-6">Tailwind Components</h4>
        {% include components-nav.html %}
    </nav>
    <div class="p-8 w-4/5">
        {% for component in site.components %}
            <div id="{{ component.slug }}" class="mb-8 w-full">
                <h4 class="mb-2">{{ component.title }}</h4>
                <div class="component-container">
                    <!-- NOTE: .component needs to be single line or indentation in the code preview will appear broken -->
                    <div class="component">{{ component.content | markdownify }}</div>
                    <div class="bg-neutral-200 rounded-b-lg p-2">
                        <div class="flex justify-end space-x-2">
                            <button class="copy-code htk-btn htk-btn-secondary htk-btn-sm hidden">Copy Code</button>
                            <button class="toggle-code htk-btn htk-btn-primary htk-btn-sm">Show Code</button>
                        </div>
                        <pre class="component-code bg-neutral-700 overflow-x-auto text-neutral-200 px-6 py-4 rounded mt-2 hidden w-full"></pre>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
