---
layout: default
---
<div class="flex space-x-6">
    <nav class="p-8 w-72">
        <h4 class="text-lg font-semibold mb-6">Tailwind Components</h4>
        {% include components-nav.html %}
    </nav>
    <div class="flex-1 p-8">
        {% for component in site.components %}
        <div id="{{ component.slug }}" class="mb-8">
            <h2 class="text-2xl font-semibold mb-2">{{ component.title }}</h2>
            <div class="component-container">
                {{ component.content | markdownify }}
                <div class="bg-zinc-200 rounded-b-lg p-2">
                    <div class="flex justify-end space-x-2">
                        <button class="copy-code bg-emerald-500 text-white font-semibold px-3 py-2 rounded uppercase tracking-[1px] text-sm hidden">Copy Code</button>
                        <button class="toggle-code bg-zinc-100 text-zinc-600 font-semibold px-3 py-2 rounded uppercase tracking-[1px] text-sm">Show Code</button>
                    </div>
                    <pre class="component-code bg-zinc-100 p-2 rounded mt-2 hidden"></pre>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
