<style type="text/tailwindcss">
    @layer base {
        :root {
            /* User-defined hex values */
            --primary: #3d357a;
            --secondary: #1b9aaa;
            --accent: #dbd56e;
        }

        /* Typography Styles */
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply font-bold;
        }

        h1 {
            @apply text-4xl;
        }

        h2 {
            @apply text-3xl;
        }

        h3 {
            @apply text-2xl;
        }

        h4 {
            @apply text-xl;
        }

        h5 {
            @apply text-lg;
        }

        h6 {
            @apply text-base;
        }
    }

    @layer components {

        /*
        Define button styles:
            1. Sizes
            2. Colors
            3. Types
        */

        .htk-btn {
            @apply duration-200 ease-in-out inline-flex items-center justify-center px-3 py-[6px] rounded-md text-base tracking-wider transition-all gap-2 h-9 hover:scale-[103%] active:scale-100;
        }

        .htk-btn i {
            @apply leading-[0];
        }

        /* 1. Sizes */

        .htk-btn.htk-btn-lg {
            @apply px-4 text-lg h-11;
        }

        .htk-btn.htk-btn-sm {
            @apply px-[10px] text-sm h-[30px] gap-1;
        }

        .htk-btn.htk-btn-xs {
            @apply px-[7px] rounded text-xs h-[22px] gap-1;
        }

        /* 2. Colors */

        .htk-btn.htk-btn-primary {
            @apply bg-primary text-primary-content;
        }

        .htk-btn.htk-btn-primary:hover {
            @apply bg-primary-hover;
        }

        .htk-btn.htk-btn-secondary {
            @apply bg-secondary text-secondary-content;
        }

        .htk-btn.htk-btn-secondary:hover {
            @apply bg-secondary-hover;
        }

        .htk-btn.htk-btn-accent {
            @apply bg-accent text-accent-content;
        }

        .htk-btn.htk-btn-accent:hover {
            @apply bg-accent-hover;
        }

        /* 3. Types
                a. Ghost
                b. Icon Only
                c. Disabled
        */

        /* a. Ghost */

        .htk-btn.htk-btn-ghost {
            @apply bg-neutral-800 bg-opacity-0;
        }

        .htk-btn.htk-btn-ghost:hover {
            @apply bg-opacity-10;
        }

        /* Primary Color */

        .htk-btn.htk-btn-primary.htk-btn-ghost {
            background-color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0);
            @apply text-primary;
        }
        .htk-btn.htk-btn-primary.htk-btn-ghost:hover {
            background-color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 0.1);
        }

        /* Secondary Color */

        .htk-btn.htk-btn-secondary.htk-btn-ghost {
            background-color: hsla(var(--secondary-h), var(--secondary-s), var(--secondary-l), 0);
            @apply text-secondary;
        }
        .htk-btn.htk-btn-secondary.htk-btn-ghost:hover {
            background-color: hsla(var(--secondary-h), var(--secondary-s), var(--secondary-l), 0.1);
        }

        /* Accent Color */

        .htk-btn.htk-btn-accent.htk-btn-ghost {
            background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0);
            @apply text-accent;
        }
        .htk-btn.htk-btn-accent.htk-btn-ghost:hover {
            background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.1);
        }

        /* b. Icon Only */

        .htk-btn.htk-btn-icon {
            /* "tracking-[0]" ensures icons are always centered when using icon fonts */
            @apply rounded-full !leading-none text-xl w-9 aspect-square tracking-[0];
        }

        /* Large */

        .htk-btn.htk-btn-icon.htk-btn-lg {
            @apply text-2xl w-11;
        }

        /* Small */

        .htk-btn.htk-btn-icon.htk-btn-sm {
            @apply text-lg w-[30px];
        }

        /* X-Small */

        .htk-btn.htk-btn-icon.htk-btn-xs {
            @apply text-sm w-[22px];
        }

        /* c. Disabled */
        .htk-btn.htk-btn-disabled {
            @apply bg-neutral-200 border border-neutral-300 text-neutral-400 !cursor-not-allowed;
        }

        /* Disabled Animations */
        .htk-btn.htk-btn-disabled:active {
            @apply animate-wiggle scale-100;
        }

        /*
        Define Form Elements
        */

        /* Use Remix Icons for checkboxes & radio buttons */
        .htk-checkbox,
        .htk-radio {
            @apply inline-flex items-center cursor-pointer relative select-none;
        }

        .htk-checkbox input,
        .htk-radio input {
            @apply hidden;
        }

        .htk-checkbox .htk-icon-unchecked,
        .htk-radio .htk-icon-unchecked {
            @apply inline text-neutral-500 mr-3 text-xl;
        }

        .htk-checkbox .htk-icon-checked,
        .htk-radio .htk-icon-checked {
            @apply hidden text-secondary mr-3 text-xl;
        }

        .htk-checkbox input:checked ~ .htk-icon-unchecked,
        .htk-radio input:checked ~ .htk-icon-unchecked {
            @apply hidden;
        }

        .htk-checkbox input:checked ~ .htk-icon-checked,
        .htk-radio input:checked ~ .htk-icon-checked {
            @apply inline;
        }
        
        .htk-checkbox .htk-ping-animation,
        .htk-radio .htk-ping-animation {
            @apply absolute hidden text-secondary text-xl;
        }

        .htk-checkbox input:checked ~ .htk-ping-animation,
        .htk-radio input:checked ~ .htk-ping-animation {
            @apply inline absolute text-secondary text-xl animate-[ping_400ms_ease-in-out_1];
        }

        /* Show default select option gray like a placeholder */
        select:invalid {
            @apply text-neutral-400 !important;
        }

        /*
        Define Tooltips
        */

        .htk-tooltip-group {
            @apply relative max-w-max max-h-max;
        }

        .htk-tooltip-group .htk-tooltip {
            @apply absolute bg-neutral-800 bg-opacity-80 px-2 py-1 text-white rounded-md text-sm whitespace-nowrap hidden z-[999];
        }

        .htk-tooltip-group:hover .htk-tooltip {
            @apply block;
        }

        .htk-tooltip-top {
            @apply bottom-full mb-[2px] left-1/2 -translate-x-1/2;
        }

        .htk-tooltip-bottom {
            @apply top-full mt-[2px] left-1/2 -translate-x-1/2;
        }

        .htk-tooltip-left {
            @apply right-full mr-[2px] top-1/2 -translate-y-1/2;
        }

        .htk-tooltip-right {
            @apply left-full ml-[2px] top-1/2 -translate-y-1/2;
        }

        /*
        Define Tables
        */

        .htk-table {
            @apply max-w-full text-sm text-gray-700 text-center;
        }

        .htk-table thead {
            @apply border-b-2 border-neutral-200 tracking-wider text-neutral-500;
        }

        .htk-table tbody tr {
            @apply duration-300 transition-all border-b border-neutral-200;
        }

        .htk-table tbody tr:hover {
            @apply bg-neutral-50;
        }

        .htk-table tbody th{
            @apply tracking-wider text-neutral-500;
        }

        .htk-table tfoot {
            @apply border-t border-neutral-200;
        }

        .htk-pagination {
            @apply flex justify-between items-center;
        }

        /*
        Define Inputs
        */

        .htk-text-input {
            @apply bg-white border border-neutral-300 rounded-md w-full px-3 py-2;
        }

        .htk-select-input {
            @apply bg-white border border-neutral-300 rounded-md px-3 py-2 text-sm text-neutral-700 appearance-none w-full;
        }

        .htk-textarea {
            @apply bg-white border border-neutral-300 rounded-md w-full px-3 py-2 placeholder-neutral-400;
        }

        .htk-text-input:focus,
        .htk-select-input:focus,
        .htk-textarea:focus {
            @apply outline-none ring-2 ring-inset ring-secondary ring-offset-1;
        }

        .htk-input-chevron {
            @apply pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2 text-neutral-400;
        }

        .htk-input-with-icon {
            @apply relative flex;
        }

        .htk-input-with-icon i {
            @apply absolute top-1/2 -translate-y-1/2 left-0 pl-3;
        }

        .htk-input-with-icon input {
            /* This is inheriting :focus properties from htk-text-input:focus */
            @apply htk-text-input pl-9 py-2;
        }

        .htk-input-with-icon select {
            /* This is inheriting :focus properties from htk-select-input:focus */
            @apply htk-select-input px-8;
        }

       /*
        Define List Elements
        */

        .htk-list {

        }

        .htk-list-title,
        .htk-list-item {
            @apply flex border-b border-gray-200 items-center p-2;
        }

        .htk-list-title {
            @apply text-neutral-500 text-sm;
        }

        .htk-list-item {
            @apply py-1;
        }

        .htk-list-item > i {
            @apply mr-2 text-lg text-neutral-500;
        }

        .htk-list-item .htk-list-item-name {
            @apply flex-1;
        }

        .htk-list-item .htk-list-item-info {
            @apply pr-3 text-sm text-gray-400;
        }

        .htk-list-item .htk-list-item-actions {
            @apply flex items-center;
        }

        .htk-list-item .htk-list-item-actions .htk-list-item-actions-divider {
            @apply border-r border-gray-200 h-5 mx-2 w-[1px];
        }

        /*
        Define Menu Elements
        */

        .htk-menu-group {
            @apply relative max-w-max max-h-max;
        }

        .htk-menu-trigger {}

        .htk-menu,
        .htk-menu-hover {
            @apply hidden py-2 absolute min-w-48 z-10;
        }

        .htk-menu-items {
            @apply bg-white p-1 rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 space-y-[2px];
        }

        .htk-menu-hover:hover,
        .htk-menu-trigger:focus ~ .htk-menu,
        .htk-menu-trigger:focus-within ~ .htk-menu,
        .htk-menu-group:hover .htk-menu-hover {
            @apply block;
        }

        .htk-menu-item a {
            @apply text-gray-700 block px-3 py-2 text-sm rounded-md;
        }

        .htk-menu-item:hover a {
            @apply bg-neutral-100;
        }

        /* Top Positions */
        .htk-menu-top-left {
            @apply absolute top-0 left-0 translate-y-[-100%]; /* Align to the top-left of the trigger */
        }

        .htk-menu-top-center {
            @apply absolute top-0 left-1/2 translate-y-[-100%] translate-x-[-50%]; /* Align to the top-center of the trigger */
        }

        .htk-menu-top-right {
            @apply absolute top-0 right-0 translate-y-[-100%]; /* Align to the top-right of the trigger */
        }

        /* Bottom Positions */
        .htk-menu-bottom-left {
            @apply absolute top-full left-0; /* Align to the bottom-left of the trigger */
        }

        .htk-menu-bottom-center {
            @apply absolute top-full left-1/2 translate-x-[-50%]; /* Align to the bottom-center of the trigger */
        }

        .htk-menu-bottom-right {
            @apply absolute top-full right-0; /* Align to the bottom-right of the trigger */
        }

    }
</style>
