<script src="https://cdn.tailwindcss.com"></script>

<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    primary: {
                        DEFAULT: 'hsl(var(--primary-h), var(--primary-s), var(--primary-l))',
                        hover: 'var(--primary-hover)',
                        content: 'var(--primary-content)',
                    },
                    secondary: {
                        DEFAULT: 'hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l))',
                        hover: 'var(--secondary-hover)',
                        content: 'var(--secondary-content)',
                    },
                    accent: {
                        DEFAULT: 'hsl(var(--accent-h), var(--accent-s), var(--accent-l))',
                        hover: 'var(--accent-hover)',
                        content: 'var(--accent-content)',
                    },
                },
                keyframes: {
                    wiggle: {
                        '0%, 100%': { transform: 'translateX(-2px)' },
                        '50%': { transform: 'translateX(2px)' }
                    }
                },
                animation: {
                    wiggle: 'wiggle .1s ease-in-out 2'
                }
            },
        },
        plugins: [],
    }
</script>
