<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    primary: {
                        DEFAULT: 'hsl(var(--primary-h), var(--primary-s), var(--primary-l))',
                        hover: 'var(--primary-hover)',
                        light: 'var(--primary-light)',
                        'light-hover': 'var(--primary-light-hover)',
                        content: 'var(--primary-content)',
                        'light-content': 'var(--primary-light-content)',
                    },
                    secondary: {
                        DEFAULT: 'hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l))',
                        hover: 'var(--secondary-hover)',
                        light: 'var(--secondary-light)',
                        'light-hover': 'var(--secondary-light-hover)',
                        content: 'var(--secondary-content)',
                        'light-content': 'var(--secondary-light-content)',
                    },
                    accent: {
                        DEFAULT: 'hsl(var(--accent-h), var(--accent-s), var(--accent-l))',
                        hover: 'var(--accent-hover)',
                        light: 'var(--accent-light)',
                        'light-hover': 'var(--accent-light-hover)',
                        content: 'var(--accent-content)',
                        'light-content': 'var(--accent-light-content)',
                    },
                },
            },
        },
        plugins: [],
    }
</script>
