<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    'primary': {
                        '50': '#f4f6fa',
                        '100': '#e6ebf3',
                        '200': '#d2daeb',
                        '300': '#b3c2dd',
                        '400': '#8fa3cb',
                        '500': '#7488bd',
                        '600': '#6170af',
                        '700': '#56619f', /* MAIN */
                        '800': '#4a5083',
                        '900': '#3f4569',
                        '950': '#2d3047',
                    },
                    'secondary': {
                        '50': '#f2fbf9',
                        '100': '#d3f4ed',
                        '200': '#a6e9db',
                        '300': '#72d6c6',
                        '400': '#44bdac',
                        '500': '#2a9d8f', /* MAIN */
                        '600': '#208177',
                        '700': '#1d6861',
                        '800': '#1c534f',
                        '900': '#1b4642',
                        '950': '#0a2928',
                    },
                    'accent': {
                        '50': '#fdf9ed',
                        '100': '#f8edcd',
                        '200': '#f0d997',
                        '300': '#e9c46a', /* MAIN */
                        '400': '#e2ab3d',
                        '500': '#da8d26',
                        '600': '#c16c1e',
                        '700': '#a04f1d',
                        '800': '#833e1d',
                        '900': '#6c331b',
                        '950': '#3d190b',
                    },

                },

                fontFamily: {
                    sans: ['Roboto', 'sans-serif'],
                },
            }
        },
        plugins: [
            /* Use specific colors as primary, secondary and accent without losing the ability to use all 100-950 shades */
            function ({ addUtilities, theme }) {
                const colors = theme('colors');
                const primaryColor = colors.primary['700'];
                const secondaryColor = colors.secondary['500'];
                const accentColor = colors.accent['300'];

                addUtilities({
                    '.bg-primary': { backgroundColor: primaryColor },
                    '.text-primary': { color: primaryColor },
                    '.bg-secondary': { backgroundColor: secondaryColor },
                    '.text-secondary': { color: secondaryColor },
                    '.bg-accent': { backgroundColor: accentColor },
                    '.text-accent': { color: accentColor },
                }, ['responsive', 'hover']);
            }
        ],
    }
</script>
