.component {
    background: #d4d4d8;
    border-radius: 8px 8px 0 0;
    box-shadow: inset 0 0 30px rgba(0,0,0,.1);
    overflow: hidden;
    padding: 64px 64px 72px;
    position: relative;
    width: 100%;
}

.component > * {
    margin: 0 auto;
}

/* COMPONENT OVERRIDES
 * Description: Styles for components that are necessary for them to display correctly on this
 * website without effecting the code that users will copy and paste.
 */
#modalOverlay {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

#modal {
    position: relative !important;
}
